<ul class="podcasts">
  <li class="podcast"><a href="/sgu">SGU</a></li>
  <li class="podcast"><a href="/rd">Reconcilable Differences</a></li>
  <li class="podcast"><a href="/ct">Car Talk</a></li>
  <li class="podcast"><a href="/htde">How to do Everything</a></li>
  <li class="podcast"><a href="/tfl">The Flop House</a></li>
  <li class="podcast"><a href="/otm">On the Media</a></li>

</ul>

