<div class="stations">
  <form action="/stream" method="post">
    <button name="stream" value="http://pubint.ic.llnwd.net/stream/pubint_wutc">NPR</button>
    <button name="stream" value="http://twit.am:80/listen">TWiT</button>
  </form>
</div>