<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>PInatra</title>
  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <link rel="stylesheet" href="/stylesheets/main.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
  <body>
    <div class="wrapper">
      <h1><a href="/">PInitra</a></h1>
      <%= yield %>
    </div>
  </body>
</html>
