div.wrapper {
  max-width: 500px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

ul.podcasts {
  list-style: none;
  padding: 0;

  li {
    margin-bottom: 10px;

    a {
      display: block;
      width: 100%;
      border: 4px solid black;
      padding: 10px;
      font-size: 1.4em;
      text-align: center;
      box-sizing: border-box;
      text-decoration: none;
      color: black;

    }
  }
}

button, input[type=submit] {
  border: 4px solid black;
  padding: 10px;
  width: 100%;
  font-size: 1.4em;
  background-color: transparent;
  margin-bottom: 10px;
}

div.stations {

  button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
}

div.controls {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0;

  button {
    border-radius: 100%;
    width: 70px;
    height: 70px
  }
}
